<launch>
    <arg name="robot_type" default="aliengo" doc="Robot type: [a1, aliengo, go1, laikago]"/>

    <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_unitree_description)/urdf/robot.xacro
       robot_type:=$(arg robot_type)
    "/>
    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen"
          args="$(find legged_unitree_description)/urdf/robot.xacro $(arg robot_type)"/>

    <rosparam file="$(find legged_gazebo)/config/default.yaml" command="load"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find legged_gazebo)/worlds/empty_world.world"/> -->
        <!-- <arg name="world_name" value="$(find legged_unitree_description)/launch/stair4.world"/> -->
        <!-- <arg name="world_name" value="$(find legged_unitree_description)/launch/stair417.world"/> -->
        <!-- <arg name="world_name" value="$(find legged_unitree_description)/launch/stair418.world"/> -->
        <!-- <arg name="world_name" value="$(find legged_unitree_description)/launch/stair423.world"/> -->
        <!-- <arg name="world_name" value="$(find legged_unitree_description)/launch/challenge1.world"/> -->
        <!-- <arg name="world_name" value="$(find legged_unitree_description)/world/stair01.world"/> -->
        <!-- <arg name="world_name" value="$(find legged_unitree_description)/world/stairs.world"/> -->
        <arg name="world_name" value="$(find legged_unitree_description)/world/stepping_stones.world"/>
    </include>
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-z 0.5 -param legged_robot_description -urdf -model $(arg robot_type)" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen" 
      args="-d $(find legged_unitree_description)/rviz/config2.rviz"/>

</launch>
