<?xml version="1.0"?>

<model>
  <name>office</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>ClearPathRobotics</name>
  </author>

  <description>
    This model recreates an office space. The original model has been created by ClearPath Robotics and it can be found here: https://github.com/clearpathrobotics/cpr_gazebo.git
  </description>
</model>
