<?xml version="1.0"?>

<model>
  <name>step_pallets</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Gennaro Raiola</name>
    <email>gennaro.raiola@gmail.com</email>
  </author>

  <description>
    This is an scenario for testing locomotion that consists in pallets with stepping blocks in the middle.
  </description>
</model>
