<?xml version="1.0"?>

<model>
  <name>complex_stairs_1</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Gennaro Raiola</name>
    <email>gennaro.raiola@gmail.com</email>
  </author>

  <description>
    This model represents stairs with irregular step height.
  </description>
</model>
