<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="robot_type" default="a1"/>

    <xacro:include filename="$(find legged_unitree_description)/urdf/common/materials.xacro"/>
    <xacro:include filename="$(find legged_unitree_description)/urdf/common/leg.xacro"/>
    <xacro:include filename="$(find legged_unitree_description)/urdf/common/gazebo.xacro"/>
    <xacro:include filename="$(find legged_unitree_description)/urdf/common/imu.xacro"/>

    <xacro:include filename="$(find legged_unitree_description)/urdf/$(arg robot_type)/const.xacro"/>

    <!-- <link name="world">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <joint name="floating_base_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="world"/>
        <child link="base"/>
    </joint> -->

    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://legged_unitree_description/meshes/$(arg robot_type)/trunk.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
            <mass value="${trunk_mass}"/>
            <inertia
                    ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                    iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                    izz="${trunk_izz}"/>
        </inertial>
    </link>


    <xacro:IMU connected_to="base" imu_name="unitree_imu" xyz="0. 0. 0." rpy="0. 0. 0."/>

    <xacro:leg prefix="RF" mirror="-1" mirror_dae="False" front_hind="1" front_hind_dae="True">
        <origin rpy="0 0 0" xyz="${leg_offset_x} ${-leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="LF" mirror="1" mirror_dae="True" front_hind="1" front_hind_dae="True">
        <origin rpy="0 0 0" xyz="${leg_offset_x} ${leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="RH" mirror="-1" mirror_dae="False" front_hind="-1" front_hind_dae="False">
        <origin rpy="0 0 0" xyz="${-leg_offset_x} ${-leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="LH" mirror="1" mirror_dae="True" front_hind="-1" front_hind_dae="False">
        <origin rpy="0 0 0" xyz="${-leg_offset_x} ${leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>

    <!-- camera parameter for aliengo -->
    <!-- <xacro:realsense_d435 sensor_name="d435_Forward" parent_link="base" rate="10">
    <origin rpy="0 0 0 " xyz="0.31 0 0.03"/>
    </xacro:realsense_d435>
    <xacro:realsense_d435 sensor_name="d435_Back" parent_link="base" rate="10">
    <origin rpy="0 0.9 3.14 " xyz="-0.34 0 0.05"/>
    </xacro:realsense_d435> -->

    <!-- 这个位置还可以 -->
    <!-- <xacro:realsense_d435 sensor_name="d435_Down" parent_link="base" rate="10">
    <origin rpy="0 0.85 0 " xyz="0.3 0 0.2"/>
    </xacro:realsense_d435> -->

    <!-- 试试把向下的摄像头位置加高看看效果 -->
    <!-- <xacro:realsense_d435 sensor_name="d435_Down" parent_link="base" rate="10">
    <origin rpy="0 1.0 0 " xyz="0.3 0 0.8"/>
    </xacro:realsense_d435> -->

    <!-- <xacro:realsense_d435 sensor_name="d435_Left" parent_link="base" rate="10">
    <origin rpy="0 0.8 1.57 " xyz="0 0.08 0.06"/>
    </xacro:realsense_d435>

    <xacro:realsense_d435 sensor_name="d435_Right" parent_link="base" rate="10">
    <origin rpy="0 0.8 -1.57 " xyz="0 -0.08 0.06"/>
    </xacro:realsense_d435> -->

    <!-- 好怪，有时候传感器加多了，地图反倒更加不稳定了 -->



    <!-- camera parameter for a1 -->
    <xacro:realsense_d435 sensor_name="d435_Forward" parent_link="base" rate="10">
    <origin rpy="0 0 0 " xyz="0.25 0 0.0"/>
    </xacro:realsense_d435>
    <!-- <xacro:realsense_d435 sensor_name="d435_Back" parent_link="base" rate="10">
    <origin rpy="0 0.9 3.14 " xyz="-0.25 0 0.05"/>
    </xacro:realsense_d435> -->

    <xacro:realsense_d435 sensor_name="d435_Down" parent_link="base" rate="10">
    <origin rpy="0 0.7 0 " xyz="0.27 0 0.2"/>
    </xacro:realsense_d435>

    <!-- <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/> -->
    <!-- <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/> -->

    <!-- <xacro:VLP-16 name="VLP-16" parent="base">
    <origin rpy="0 0 0 " xyz="0.1 0 0.085 "/>
    </xacro:VLP-16> -->

<!-- 直接用ros里面自带的传感器插件 -->
  <!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />   -->

    <!-- <xacro:arg name="simulation" default="false" /> -->

    <!-- realsense和velodyne怎么不发布东西？ -->
    <!-- <xacro:sensor_d435i parent="base" name="d435_Forward" use_nominal_extrinsics="$(arg simulation)">
        <origin xyz="0.25 0.0 -0.009" rpy="0 0 0" />
    </xacro:sensor_d435i>

    <xacro:VLP-16 parent="base">
        <origin xyz = "0.109 0.000 0.09" rpy="0 0 0" />
    </xacro:VLP-16> -->

</robot>
